//{{ template_values.jobcard }}
//* IBM Devops Team Sample -  v1.2
//* 
//* jinja2 is a standard template framework used by wazi deploy to 
//* generate any type of file - like JCL.
//* 
//* This sample generates JCL to run a CICS newcopy modify cmd 
//* See the sample deployment and .ENV files for details 
//* 
//* The user running the CD phase must have RACF previlges to run the 
//* Operator Modify cmd. 
//* 
//* 
{% set artifact = cicsload %}
//NEWCOPY EXEC PGM=IEFBR14  
// COMMAND 'F {{ template_values.context }},CEMT SET PROG({{ cicsload }}) NEWCOPY'  
