# This git configuration file transforms file encoding between git's native ascii(utf-8) to and from zOS's native EBCDIC (IBM1047).
# Generic rules like "**" apply to all files. But can be overridden by specific rules like "**.yaml".
### 

# Default for all files. Converts git utf-8 to zOS ebcdic ibm-1047 and tags files on zOS as ibm-1047 
    **   git-encoding=utf-8   zos-working-tree-encoding=ibm-1047 
    * text=auto     eol=lf

# Note: DBB Doc recommends utf8 zos encoding for all *.yamls.  
# Use iso8859 to cat yaml files on USS for diagnostic. But test it in your env. 
    # All yaml files (DBB and Wazi Deploy) 
    conf/**/*.yaml  git-encoding=utf-8  zos-working-tree-encoding=iso8859-1 
    
    # files a root 
    dbb-app.yaml    git-encoding=utf-8  zos-working-tree-encoding=iso8859-1     
    .gitattributes  git-encoding=utf-8  zos-working-tree-encoding=iso8859-1
    

    

